{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p><label for="username">Username</label></p>
    <p><input class="form-control" name="username" id="username" required></p>
    <p><label for="password">Password</label></p>
    <p><input class="form-control" type="password" name="password" id="password" required></p>
    <p><input class="btn btn-info" type="submit" value="Log In"></p>
  </form>
{% endblock %}
