{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <p><label for="title">Title</label></p>
        <p><input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required></p>
        <p><label for="body">Body</label></p>
        <p><textarea class="form-control" name="body" id="body">{{ request.form['body'] }}</textarea></p>
        <p><input class="btn btn-success" type="submit" value="Save"></p>
    </form>
{% endblock %}
