{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p><label for="title">Title</label></p>
    <p><input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required></p>
    <p><label for="body">Body</label></p>
    <p><textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea></p>
    <p><input class="btn btn-success" type="submit" value="Save"></p>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
